


.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    color: white,
}


#spinner {
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}